@font-face {
    font-family: 'Futura New';
    src: url("../fonts/FuturaNewBold-Reg.woff2") format("woff2"), url("../fonts/FuturaNewBold-Reg.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura New';
    src: url("../fonts/FuturaNewBook-Reg.woff2") format("woff2"), url("../fonts/FuturaNewBook-Reg.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura New';
    src: url("../fonts/FuturaNewLight-Reg.woff2") format("woff2"), url("../fonts/FuturaNewLight-Reg.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: 'Futura New', sans-serif;
    font-size: 10px;
    font-weight: normal;
    line-height: 10px;
    color: #000000;

    background-color: #ffff;

    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
}

.title {
    font-family: 'Futura New', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
}

.desc {
    font-family: 'Futura New', sans-serif;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 2rem;
}

.main-events__title {
    margin-top: 114px;
    margin-left: 594px;
    position: absolute;
    z-index: 1;
}

.main-events__wrapper {
    min-height: 120px;
}

.main__slider {
    background-color: #19202C;
    position: relative;
}

.main__slider .slider__item {
    display: flex;
}

.main__slider .slider__img {
    position: absolute;
    bottom: 0;
    z-index: 100;
}

.main__slider .slider__main {
    margin-left: 594px;
}

.main__slider .slider__title {
    margin-top: 56px;
    margin-bottom: 61px;
    font-size: 6rem;
    line-height: 5rem;
    color: #ffffff;
}

.main__slider .slider__desc {
    margin-bottom: 40px;
    padding-left: 7px;
    max-width: 456px;
    font-size: 2.2rem;
    color: #ffffff;
}

.main__slider .slider__link {
    display: block;
    margin-bottom: 90px;
    margin-left: 5px;
    width: 200px;
    height: 57px;
    background-color: #ffffff;
    font-size: 2.1rem;
    color: #000000;
    text-align: center;
    text-decoration: none;
    line-height: 2.7em;
    cursor: pointer;
}

.main__slider .slider__link:hover {
    background-color: #d6d6d6;
}

.main-events__btn-wrapper {
    position: relative;
}

.slider__btn {
    border: 0 none;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
}

.main__slider .slider__btn {
    bottom: 160px;
}

.main__slider .slider__btn--left {
    left: -88px;
}

.main__slider .slider__btn--right {
    right: -88px;
    transform: rotate(180deg);
}

.main__slider .slick-dots,
.calendar__slider .slick-dots {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.main__slider .slick-dots {
    left: 52%;
    bottom: 31px;
}

.main__slider .slick-dots li,
.calendar__slider .slick-dots li {
    list-style: none;
}

.main__slider .slick-dots button,
.calendar__slider .slick-dots button {
    width: 10px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
    border: 0 none;
    font-size: 0;
    background-color: rgba(196, 196, 196, 0.5);
}


.main__slider .slick-active button,
.calendar__slider .slick-active button {
    background-color: #C4C4C4;
}

.main__slider .slick-slide {
    padding-top: 98px;
}

.main__slider:before {
    content: '';
    width: 100%;
    height: 98px;
    position: absolute;
    background: #ffffff;
}

.calendar {
    background-color: #F2F2F2;
    padding-bottom: 74px;
}

.calendar .wrapper {
    position: relative;
}

.calendar__title {
    padding-top: 73px;
    margin-top: 0;
    margin-bottom: 67px;
}

.calendar__tabs {
    width: 738px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.calendar__tab {
    padding-bottom: 7px;
    cursor: pointer;
    font-size: 2.2rem;
    line-height: 2rem;
    text-align: center;
    border-bottom: 7px solid #ffffff;
}

.calendar__tab:first-child{
    text-align: left;
}

.calendar__tab:last-child {
    text-align: right;
}

.calendar__tab--scholarships {
    min-width: 235px;
}

.calendar__tab--events {
    min-width: 184px;
}

.calendar__tab--lectures {
    min-width: 220px;
}

.calendar__tab--other {
    min-width: 100px;
}

.calendar__tab.active {
    border-bottom: 7px solid #000000;
}

.calendar__slider {
    margin-top: 81px;
}

.calendar__slider .slick-slide {
    max-width: 360px;
    margin-right: 40px;
}

.calendar__slider .slider__item {
    background-color: #ffffff;
    border: 1px solid transparent;
}

.calendar__slider .slider__text {
    min-height: 221px;
    padding-left: 28px;
    padding-right: 26px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendar__slider .slider__title {
    margin-top: 35px;
    margin-bottom: 11px;
    margin-right: 3px;
}

.calendar__slider .slider__desc {
    margin-top: 0;
}

.details {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.calendar__slider .slider__details {
    margin-bottom: 17px;
    display: block;
    color: #826650;
}

.calendar .slider__btn {
    bottom: 310px;
}

.calendar .slider__btn--left {
    left: -88px;
}

.calendar .slider__btn--right {
    right: -88px;
    transform: rotate(180deg);
}

.link-btn {
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 2.1rem;
    line-height: 2.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

.calendar__link {
    margin-top: 58px;
    color: #1E1E1E;
    border: 2px solid #1E1E1E;
}

.calendar__link:hover {
    border: 2px solid #870C19;
}

.championships {
    background-color: #000000;
    border: 1px solid transparent;
    font-size: 2.2rem;
    line-height: 2rem;
    color: #FFFFFF;
}

.championships__title {
    margin-top: 74px;
    margin-bottom: 51px;
}

.championships__items {
    display: flex;
    margin-top: 22px;
    margin-bottom: 58px;
}

.championships__item:first-child {
    margin-right: 40px;
}

.championship__details {
    display: block;
    color: #F2F2F2;
    margin-bottom: 6px;
}

.championships__link {
    margin-bottom: 125px;
}

.championships__link:hover {
    border-color: #870C19;
}

.vacancies {
    background-color: #FFFFFF;
    border-top: 1px solid transparent;
}

.vacancies__title {
    margin-top: 72px;
    margin-bottom: 94px;
}

.vacancies__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 39px;
}

.vacancies__item {
    width: 31%;
    border: 2px solid #19202C;
    margin-right: 3.5%;
    margin-bottom: 20px;
    padding: 65px 42px 23px 13px;
    position: relative;
}

.vacancies__item:nth-child(3n) {
    margin-right: 0;
}

.vacancy__logo {
    position: absolute;
}

.vacancy__logo--deloitte {
    top: 3px;
    left: 6px;
}

.vacancy__logo--megafon {
    top: 23px;
    left: 10px;
}

.vacancy__desc {
    margin-top: 0;
    margin-bottom: 13px;
}

.vacancy__city:after,
.vacancy__company:after {
    display: inline-block;
    content: '';
    width: 3px;
    height: 3px;
    margin-left: 6px;
    margin-bottom: 1px;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.7;
}

.vacancy__link {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    bottom: 13px;
    right: 9%;
}

.vacancy__icon--second {
    margin-left: -10px;
}

.vacancy__link:hover path {
    fill: #870C19;
}

.vacancies__link {
    margin-bottom: 94px;
    color: #19202C;
    border-color: #19202C;
}

.vacancies__link:hover {
    border-color: #870C19;
}

.link {
    text-decoration: none;
    color: initial;
}

.journal {
    padding-top: 50px;
    padding-bottom: 95px;
    background-color: #000000;
    color: #FFFFFF;
}

.journal__title {
    margin-bottom: 84px;
}

.main-article {
    min-height: 251px;
    margin-bottom: 26px;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-article__title {
    width: 808px;
    margin: 0;
    font-size: 80px;
    line-height: 70px;
}

.main-article__quotes {
    width: 11.6%;
    position: absolute;
    top: -7px;
    right: 0;
}

.main-article__link {
    display: block;
    margin-bottom: 41px;
    color: #FFFFFF;
    font-size: 21px;
    line-height: 25px;
    align-self: flex-end;
}

.journal__articles {
    display: flex;
    margin-bottom: 58px;
}

.journal .article {
    width: 33.3%;
}

.journal__subtitle {
    display: block;
    margin-bottom: 30px;
    font-size: 17px;
}

.article:nth-child(2) {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.article__text {
    padding: 20px 41px 22px 18px;
    background-color: #FFFFFF;
}

.article__type {
    color: #826650;
    font-size: 1.7rem;
}

.article__title {
    color: #000000;
    font-size: 22px;
    line-height: 28px;
}

.partners {
    padding-top: 50px;
    padding-bottom: 140px;
    background-color: #FFFFFF;
}

.partners__title {
    margin-bottom: 78px;
}

.partners__logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.partners__img {
    width: 14%;
    margin-bottom: 50px;
}

.partners__img img {
    width: 100%;
    object-fit: contain;
}

@media (max-width: 550px) {
    .wrapper {
        width: 330px;
    }

    .link-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .main-events__title {
        display: none;
    }

    .main__slider .slider__img {
        width: 285px;
        height: 317px;
        top: 26px;
        left: 9.7%;
    }

    .main__slider .slider__main {
        margin-left: 0;
        text-align: center;
    }

    .main__slider .slider__title {
        margin-top: 279px;
        margin-bottom: 24px;
        padding-left: 0;
        font-size: 3rem;
        line-height: 3rem;
    }

    .main__slider .slider__desc {
        margin-bottom: 34px;
        padding-left: 0;
        font-size: 1.7rem;
        line-height: 2rem;
    }

    .main__slider .slider__link {
        height: 51px;
        margin-left: auto;
        margin-right: auto;
    }

    .main__slider .slick-dots {
        left: 50%;
        bottom: 45px;
        margin-left: -47px;
    }

    .main__slider .slider__btn {
        display: none;
    }

    .title {
        text-align: center;
    }

    .calendar {
        padding-bottom: 50px;
    }

    .calendar__title {
        padding-top: 50px;
        margin-bottom: 40px;
    }

    .calendar__tabs {
        width: 100%;
        padding-bottom: 17px;
        overflow: hidden;
        overflow-x: scroll;
    }

    .calendar__tabs::-webkit-scrollbar {
        height: 3px;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .calendar__tabs::-webkit-scrollbar-thumb {
        background-color: #000000;
    }

    .calendar__tab,
    .calendar__tab.active {
        border-bottom: 0 none;
    }

    .calendar__tab {
        margin-right: 9px;
        background-color: rgba(196, 196, 196, 0.5);
        border-radius: 5px;
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .calendar__tab:hover,
    .calendar__tab.active {
        background-color: rgba(131, 131, 131, 0.5);
    }

    .calendar__tab--scholarships {
        min-width: 176px;
        padding-left: 8px;
    }

    .calendar__tab--events {
        min-width: 80px;
    }

    .calendar__tab--lectures {
        min-width: 153px;
    }

    .calendar__tab--other {
        min-width: 90px;
    }

    .calendar__tab:last-child {
        text-align: center;
    }

    .calendar__slider .slider__title {
        font-size: 2.4rem;
    }

    .calendar__slider .slider__img {
        display: none;
    }

    .calendar__slider .slider__title {
        text-align: left;
        margin-bottom: 46px;
    }

    .calendar__slider .slider__text {
        min-height: 181px;
        padding-left: 14px;
        padding-bottom: 0;
    }

    .calendar__slider .slider__desc {
        margin-bottom: 22px;
    }

    .desc {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .calendar__slider .slider__details {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }

    .calendar__slider .slick-dots {
        left: 50%;
        margin-left: -45px;
        bottom: -36px;
    }

    .calendar__link {
        margin-top: 63px;
    }

    .calendar__slider .slider__btn {
        display: none;
    }

    .championships {
        font-size: 1.7rem;
    }

    .championships__title {
        margin-top: 50px;
        margin-bottom: 44px;
    }

    .championships__items {
        margin-top: 16px;
        margin-bottom: 14px;
        flex-wrap: wrap;
    }

    .championships__item:first-child {
        margin-right: 0;
    }

    .championships__item {
        margin-bottom: 22px;
    }

    .championship__details {
        padding-left: 5px;
    }

    .championships__link {
        margin-bottom: 50px;
    }

    .vacancies__title {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .vacancies__items {
        margin-left: 5px;
        margin-bottom: 25px;
    }

    .vacancies__item {
        width: 100%;
        margin-right: 0;
        padding-top: 55px;
        padding-left: 10px;
        padding-bottom: 15px;
    }

    .vacancy__desc {
        font-size: 1.7rem;
        line-height: 2rem;
    }

    .vacancy__city:after,
    .vacancy__company:after {
        margin-left: 15px;
        margin-right: 13px;
    }

    .vacancy__logo--deloitte {
        top: 0;
        left: 1px;
    }

    .vacancies__link {
        margin-bottom: 50px;
    }

    .main-article__title {
        font-size: 4.2rem;
        line-height: 4rem;
    }

    .main-article__quotes {
        width: 47px;
    }

    .journal {
        padding-top: 26px;
        padding-bottom: 52px;
    }

    .journal__title {
        width: 277px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }

    .journal__articles {
        flex-wrap: wrap;
        margin-bottom: 37px;
    }

    .journal .article {
        width: 100%;
    }

    .main-article {
        margin-bottom: 33px;
        flex-direction: column;
        justify-content: unset;
        border-bottom: 0;
    }

    .main-article:after {
        display: inline-block;
        content: '';
        width: 100vw;
        height: 1px;
        margin-left: calc(-50vw + 50%);
        background-color: white;
        position: absolute;
        bottom: 5px;
    }

    .main-article__title {
        width: 94%;
        margin-bottom: 26px;
    }

    .main-article__title,
    .article__title {
        text-align: left;
    }

    .main-article__quotes {
        top: -50px;
    }

    .main-article__link {
        align-self: normal;
        margin-bottom: 12px;
    }

    .article {
        margin-bottom: 9px;
    }

    .article__title {
        font-size: 2.4rem;
        line-height: 3rem;
        margin-top: 12px;
    }

    .article__text {
        padding: 18px 20px 1px 17px;
    }

    .article__img {
        height: 169px;
    }

    .article__img img {
        height: 100%;
    }

    .journal__subtitle {
        margin-bottom: 51px;
    }

    .partners {
        display: none;
    }
}